@page "/"

<section>
    <div class="container">
        <div class="sidebar">
            <div>
                All notes
            </div>
            <div>
                Search
            </div>
            <div>
                Notes
            </div>
        </div>
        <div class="notespace">
            <div>
                Tool bar
            </div>
            <div>
                Workspace
            </div>
        </div>
    </div>
</section>